body {
	margin: 0;
	padding: 0;
}
.cf:after {
  clear: both;
  content: "";
  display: table;
}
.bdc ul,
nav ul {
	clear: both;
	list-style-type:none;
	margin:0 auto;
	padding:0;
	position: relative;
	width: 1000px;
}
.bdc li,
nav li {
	display: inline-block;
	float: left;
	margin: 0 0 0 1px;
	padding: 0 10px;
}
.bdcNiv1>li:hover,
nav li:hover {
	background: -webkit-linear-gradient(top, #7B920A 10%, #ADD100 90%);
	background: -moz-linear-gradient(top, #7B920A 10%, #ADD100 90%);
	background: -ms-linear-gradient(top, #7B920A 10%, #ADD100 90%);
	background: -o-linear-gradient(top, #7B920A 10%, #ADD100 90%);
	background: linear-gradient(top, #7B920A 10%, #ADD100 90%);
}
.menuIdent {
	float: left;
}
.menuIdent li {
	display: block;
	float: none;
	margin: 0;
	padding: 0;
}
li .menuIdent,
nav li ul {
	background: #ADD100;
	color: #fff;
	display: none;
	padding: 5px;
	position: absolute;
		right: 0;
	width: 200px;
}
.bdc li:hover ul,
nav li:hover ul {
	display: block;
}
.affMenu,
.affMenuCheck {
	display: none;
	text-align: center;
}
.affMenuCheck:checked + ul {
	display: block;
}

.bdc {
	background: -webkit-linear-gradient(top, #ADD100 10%, #7B920A 90%);
	background: -moz-linear-gradient(top, #ADD100 10%, #7B920A 90%);
	background: -ms-linear-gradient(top, #ADD100 10%, #7B920A 90%);
	background: -o-linear-gradient(top, #ADD100 10%, #7B920A 90%);
	background: linear-gradient(top, #ADD100 10%, #7B920A 90%);
	position: fixed;
		left: 0;
		right: 0;
		top: 0;
	line-height: 32px;
	z-index: 1000;
}
.bdc + header {
	margin: 32px 0 0 0;
}
header h1 {
	line-height: 32px;
	margin: 0;
	padding: 0;
	text-align: center;
}
nav {
	background: -webkit-linear-gradient(top, #485563 10%, #29323c 90%);
	background: -moz-linear-gradient(top, #485563 10%, #29323c 90%);
	background: -ms-linear-gradient(top, #485563 10%, #29323c 90%);
	background: -o-linear-gradient(top, #485563 10%, #29323c 90%);
	background: linear-gradient(top, #485563 10%, #29323c 90%);
	color: #fff;
	line-height: 32px;
}
.connecT.connecT,
.recrutR {
	float: right;
}
.logoBdc.logoBdc,
.affMobile {
	display: none;
}

@media screen and (max-width : 1024px){
	.affMobile {
		display: block;
	}
	nav .affMobile {
		display: inline-block;
	}
	.bdc {
		position: absolute;
			right: 0;
			top: 44px;
	}
	.bdc .affMenu {
		background-color: #ADD100;
		position: absolute;
			right: 0;
			top: -44px;
	}
	.bdc + header {
		background-color: #eee;
		line-height: 44px;
		margin: 0 88px 0 0;
	}
	.affMenu {
		display: block;
		line-height: 44px;
		width: 44px;
	}
	.bdc ul,
	nav ul {
		display: none;
		width: 100%;
	}
	.bdc li {
		text-align: right;
	}
	nav {
		position: absolute;
			left: 0;
			right: 0;
			top: 44px;
	}
	nav .affMenu {
		background-color: #485563;
		position: absolute;
			right: 44px;
			top: -44px;
	}
	nav input {
		border: none;
		border-radius: 3px 0 0 3px;
		line-height: 25px;
		margin: 0;
		padding: 0 5px;
	}
	nav button {
		background-color: #ADD100;
		border: none;
		border-radius: 0 3px 3px 0;
		line-height: 25px;
		margin: 0 0 0 1px;
		padding: 0 5px;
	}
	nav button::-moz-focus-inner {
		border: none;
	}
	.bdc ul li,
	nav ul li {
		border-bottom: 1px solid #FFFFFF;
		display: block;
		float: none;
	}
	.connecT.connecT,
	.recrutR {
		float: none;
	}
	header h1 {
		line-height: 44px;
	}

}